body { 
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
  text-align: center;
}

main {
  display: inline-block;
  margin-top: 1%;
  position: relative;
}

img.pokemon__image {
  position: absolute;
  bottom: 53%;
  left: 50%;
  transform: translate(-60%,10%);
  height: 17%;
}

img.pokedex {
  width: 80%;
  padding: 1.5rem;
}


h1.pokemon__data {
  color: #aaa;
  font-weight: 600;
  right: 32%;
  position: absolute;
  top: 53.8%;
  font-size: clamp(5px, 8vw, 25px);
}

  span.pokemon__name {
    color: #3a444d;
    text-transform: capitalize;
  }

form.formulario {
  position: absolute;
  top: 65%;
  left: 22%;
  width: 50%;
}

  input.input__search { 
    width:100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(5px, 8vw, 1rem);
    box-shadow: -2px 3px 0 #888, -4px 6px 0 #333;
  }

div.buttons {
  position: absolute;
  bottom: 13%;
  left: 21%;
  width: 52%;
  display: flex;
  gap: 15px;
}

  button.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(5px, 8vw, 1rem);
    font-weight: 600;
    color: white;
    background: #444 ;
    box-shadow: -2px 3px 0 #222, -4px 6px #000;
  }

  button.button:hover {
    cursor: pointer;
  }

  button.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
  }